.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.inner {
  display: inline-block;
  padding: 10px;
}

.tablecell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 20px;
}

.fcst_wxicon {
  width: 38px;
  height: 28px;
}

@media (min-width: 492px) {
  .fcst_wxicon {
    width: 76px;
    height: 56px;
  }
}

@media (min-width: 374px) {
  .fcst_wxicon {
    width: 50px;
    height: 37px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}